<%= javascript_tag do %>
  function goBack() {
    window.history.back();
}
<% end %>
<%= link_to "Vehicle Details",vehicles_path %>

<h3>Vehicle Payment details</h3>
<ul>
	<li>Payment Type:<%= @vehicle_payment.amount_type %></li>
	<li>Amount Paid: <%= @vehicle_payment.amount_paid %><br/></li>
	<li>Payment Date: <%= @vehicle_payment.payment_date %><br/></li>
	<li>Mode of Payment: <%= @vehicle_payment.mode_of_payment %></li>

</ul>
<br/>

<% @vehicle_payment_months.each do |month,vehicle_payments| %>
<%= month.strftime("%B") %>
<%= vehicle_payments.map(&:amount_paid).sum %><br>
<% end -%>
<a href="#" onclick="goBack()">Back</a>