<h3>Edit Client</h3>

<%= form_for @client do |f| %>

  <% if @client.errors.any? %>
   <ul>
   	   <% for msg in @client.errors.full_messages %>
   	   <li><%= msg %></li>
   	   <% end %>
   </ul>
   <% end %>

    <label>Name:</label>
	<%= f.text_field :name %><br/>

    <label>Point of Contact:</label>
	<%= f.text_field :p_o_c %><br/>

	<label>Email:</label>
	<%= f.email_field :email %><br/>

	<label>Phone:</label>
	<%= f.text_field :phone %><br/>


	<label>Location:</label>
	<%= f.text_field :location %><br/>

	<%= f.submit %>

<% end %>