<h3>Listing Clients</h3>

<br/>

<table border "1">
	<thead>
           <tr>
           	   <th> </th>
           	   <th>Name</th>
           	   <th>Point of Contact</th>
           	   <th>Email</th>
           	   <th>Phone</th>
           	   <th>Location</th>
           	   <th>Action</th>
           </tr>
      </thead>

      <tbody>
      	   <% @clients.each_with_index do |client,index| %>
                   <tr>
                        <td><%= index + 1 %></td>
                        <td><%= client.name %></td>
                        <td><%= client.p_o_c %></td>
                        <td><%= client.email %></td>
                        <td><%= client.phone %></td>
                        <td><%= client.location %></td>
                        <td><%= link_to "Show", client_path(client.id) %> |
          	    	        <%= link_to "Edit", edit_client_path(client.id) %> |
          	    	        <%= link_to "Delete", client_path(client.id), method: :delete, data: {confirm: "Are you sure?"} %></td>  
                   </tr>
      	   <% end %>
      </tody>
</table>
<br/>


<%= link_to "Add Client", new_client_path %><br/><br/>

<%= link_to "Vehicle Details",vehicles_path %>

