<h3>Edit Route</h3>

<%= form_for @route do |f| %>


  <% if @route.errors.any? %>
   <ul>
   	   <% for msg in @route.errors.full_messages %>
   	   <li><%= msg %></li>
   	   <% end %>
   </ul>
  <% end %>

	<label>Name:</label>
	<%= f.text_field :name %><br/>


	<label>Latitude:</label>
	<%= f.text_field :latitude %><br/>

	<label>Longitude:</label>
	<%= f.text_field :longitude %><br/>


     <label>Possition:</label>
	<%= f.text_field :possition %><br/>

	<%= f.submit %>

	<% end %>