<h3><%= @route.name %></h3>

<%= link_to "Edit",edit_route_path(@route.id) %> | <%= link_to "Delete", route_path(@route.id),method: :delete, data: {confirm: "Are you sure?"} %>

<hr/>


Latitude : <%= @route.latitude %><br/>
Longitude : <%= @route.longitude %><br/>
Possition : <%= @route.possition %><br/>