<h3>Listing Routes</h3>

<br/>
<div class="table-responsive">          
  <table class="table" border="1">
     <thead>
	  <tr> 
            <th>   </th>
            <th>Name</th>
            <th>Action</th>
	  </tr>
  </thead>

  <tbody>
           <% @routes.each_with_index do |route,index| %>
           <tr>
               <td><%= index + 1 %></td>
               <td><%= route.name %></td>
               <td><%= link_to "Show", route_path(route.id) %> |
          	    	<%= link_to "Edit", edit_route_path(route.id) %> |
          	    	<%= link_to "Delete", route_path(route.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
           </tr> 
           <% end %>
  </tbody>
</table>
</div>
<br/>

<%= link_to "Add Route", new_route_path %><br/><br/>

<%= link_to "Vehicle Details",vehicles_path %>

