<h3>Add New Route</h3>

<%= form_for @route do |f| %>


   <% if @route.errors.any? %>
   <ul>
   	   <% for msg in @route.errors.full_messages %>
   	   <li><%= msg %></li>
   	   <% end %>
   </ul>
   <% end %>

	<label>Name:</label><br/>
	<%= f.text_field :name %><br/>

	<% Location.all.each do |location| %>
        <%= check_box_tag "route[location_ids][]", location.id, @route.location_ids.include?(location.id), :id => dom_id(location) %>
        <%= label_tag dom_id(location), location.name, :class => "uniform" %><br/>

                            <% end %>	

	
	<input type="submit" class="btn btn-info" value="Create Route">
	
	<% end %>

 	