<%= javascript_tag do %>
  function goBack() {
    window.history.back();
}
<% end %>
<h3><%= @route.name %></h3>

<% for location in @route.locations %>
        <%= location.name %><br/>
<% end %>	

	
<%= link_to "Edit",edit_route_path(@route.id) %> | <%= link_to "Delete", route_path(@route.id),method: :delete, data: {confirm: "Are you sure?"} %>
<hr/>


<br/>

<a href="#" onclick="goBack()">Back</a>