<h3>Edit Driver</h3>

<%= form_for @driver, :html =>{multipart: true} do |f| %>

		<% if @driver.errors.any? %>
			<h3>These errors prohibited this <%= @driver.class %> from being saved</h3>
			<ul>
			<% for msg in @driver.errors.full_messages %>
				<li><%= msg %></li>
			<% end -%>
			</ul>
		<% end -%>

	<label>Name:</label><br/>
	<%= f.text_field :name %><br/>

	<label>Age</label><br/>
	<%= f.text_field :age %><br/>

	<label>Blood_Group</label>
	<%= f.select :blood_group, ["A+", "A-", "B+","B-", "O+", "O-", "AB+", "AB-"], prompt: "Select" %><br/>

	<label>Mobile No:</label><br/>
	+91- <%= f.text_field :mobile_no %><br/>

	<label>Emergency Contact:</label><br/>
	<%= f.text_field :emergency_contact %><br/>

	<label>Address:</label>
	<%= f.text_area :address %><br/>
	
	<label>Driver Salary</label>
	<%= f.text_field :driver_salary %><br/>

	<label>Driving Licence</label>
	<%= f.file_field :image_dl %><br/>

    <label>DL_Expiration:</label>
	<%= f.date_select :dl_expiration, order: [:day, :month, :year],include_blank: true %><br/>

	<%= check_box_tag "back_ground_check", "yes" %>
 	<%= label_tag "BackGroundCheck" %>

 	<br/>
	<label>Image</label>
	<%= f.file_field :image_p %><br/>
	
	<label>Driver PAN</label>
	<%= f.text_field :pan %><br/>
	
	<label>Driver Account No</label>
	<%= f.text_field :bank_account %><br/>
	
	<label>Driver IFSC code </label>
	<%= f.text_field :ifsc_code %><br/>

	<%= f.submit %>

<% end %>