<h3>Add New Driver</h3>

<%= form_for @driver, :html =>{multipart: true} do |f| %>

   <% if @driver.errors.any? %>
   <ul>
   	   <% for msg in @driver.errors.full_messages %>
   	   <li><%= msg %></li>
   	   <% end %>
   </ul>
   <% end %>

	<label>Name:</label><br/>
	<%= f.text_field :name %><br/>

	<label>Age</label><br/>
	<%= f.text_field :age %><br/>

	<label>Blood_Group</label><br/>
	<%= f.select :blood_group, ["A+", "A-", "B+","B-", "O+", "O-", "AB+", "AB-"], prompt: "Select" %><br/>

	<label>Mobile No:</label><br/>
	+91- <%= f.text_field :mobile_no %><br/>

    <label>Emergency Contact:</label><br/>
	<%= f.text_field :emergency_contact %><br/>

	<label>Address:</label><br/>
	<%= f.text_area :address %><br/>

	<label>Driving Licence</label>
	<%= f.file_field :image_dl %><br/>

    <label>DL_Expiration:</label><br/>

	<%= f.date_select :dl_expiration, order: [:day, :month, :year],include_blank: true %><br/>

	<label>Back Ground Check:</label><br/>
	<%= f.select :back_ground_check, ["true", "false"], prompt: "Select" %><br/>

	<label>Image</label>
	<%= f.file_field :image_p %><br/>

	<%= f.submit %>

<% end %>

