<h3><%= @driver.name %></h3>

<%= link_to "Edit",edit_driver_path(@driver.id) %> | <%= link_to "Delete", driver_path(@driver.id),method: :delete, data: {confirm: "Are you sure?"} %>

<hr/>

<%= image_tag @driver.image_p.url %><br/>

Age : <%= @driver.age %><br/>
Blood Group : <%= @driver.blood_group %><br/>
Mobile No : <%= @driver.mobile_no %><br/>
Emergency Contact : <%= @driver.emergency_contact %><br/>
Address : <%= @driver.address %><br/>
Driving Licence : <%= image_tag @driver.image_dl.url %>  <br/>
DL_Expiration : <%= @driver.dl_expiration %> Days to renue: [<%= @days_left %>]<br/>
Back Ground Check : <%= @driver.back_ground_check %><br/>