<h3>Vehicle details</h3>
<table border="1">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Type of the vehicle:</th>
			<th>Registration number:</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
			<tr>
				<td><%= @vehicle.name %></td>
				<td><%= @vehicle.vehicle_type %></td>
				<td><%= @vehicle.reg_no %></td>
				<td><%= link_to "Edit",edit_vehicle_path(@vehicle.id) %> |
					<%= link_to "Delete",vehicle_path(@vehicle.id), method: :delete,data:{confirm: "Are you sure"}%> |
					<%= link_to "Back", vehicles_path %></td>
			</tr>
		</tbody>	
</table>

<hr>

<h4>Vehicle Record Details </h4>
<table border="1">
	<thead>
		<tr>
			<th>Vehicle Record type</th>
			<th>Vehicle Expiration Date</th>
			<th>Record Image</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
			<% for vehicle_record in @vehicle.vehicle_records %>
				<tr>					
					<td><%=  vehicle_record.record_type %></td>
					<td><%= vehicle_record.expiration_date %></td>
					<td><%= image_tag vehicle_record.image.url%></td>
					<td><%= link_to "Show",vehicle_record_path(vehicle_record.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_record_path(vehicle_record.vehicle_id) %> |
						<%= link_to "Delete",vehicle_record_path(vehicle_record.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
				</tr>
				<% end %>
			</tbody>
</table>
<hr>
<h4>Vehicle Payment Details of EMI</h4>
	
<table border="1">
	<thead>
		<tr>
			<th>Payment Type</th>
			<th>Amount Paid</th>
			<th>Payment Date</th>
			<th>Mode of Payment</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
					<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","EMI") %> 
					<tr>
					<td> <%= vehicle_payment.amount_type %></td>
					<td><%= vehicle_payment.amount_paid %></td>	
					<td><%= vehicle_payment.payment_date %></td>
					<td><%= vehicle_payment.mode_of_payment %></td>
					<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Delete",vehicle_payment_path(vehicle_payment.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
						</tr>
				<% end %>	
		</tbody>
</table>

<h4>Vehicle Payment Details of Down-Payment </h4>
	
<table border="1">
	<thead>
		<tr>
			<th>Payment Type</th>
			<th>Amount Paid</th>
			<th>Payment Date</th>
			<th>Mode of Payment</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
					<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Down-payment") %> 
					<tr>
					<td> <%= vehicle_payment.amount_type %></td>
					<td><%= vehicle_payment.amount_paid %></td>	
					<td><%= vehicle_payment.payment_date %></td>
					<td><%= vehicle_payment.mode_of_payment %></td>
					<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Delete",vehicle_payment_path(vehicle_payment.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
						</tr>
				<% end %>	
		</tbody>
</table>

<h4>Vehicle Payment Details of Fuel </h4>

<table border="1">
	<thead>
		<tr>
			<th>Payment Type</th>
			<th>Amount Paid</th>
			<th>Payment Date</th>
			<th>Mode of Payment</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
					<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Fuel") %> 
					<tr>
					<td> <%= vehicle_payment.amount_type %></td>
					<td><%= vehicle_payment.amount_paid %></td>	
					<td><%= vehicle_payment.payment_date %></td>
					<td><%= vehicle_payment.mode_of_payment %></td>
					<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Delete",vehicle_payment_path(vehicle_payment.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
						</tr>
				<% end %>	
		</tbody>
</table>

<h4>Vehicle Payment Details of Driver Salary </h4>

<table border="1">
	<thead>
		<tr>
			<th>Payment Type</th>
			<th>Amount Paid</th>
			<th>Payment Date</th>
			<th>Mode of Payment</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
					<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Driver-salary") %> 
					<tr>
					<td> <%= vehicle_payment.amount_type %></td>
					<td><%= vehicle_payment.amount_paid %></td>	
					<td><%= vehicle_payment.payment_date %></td>
					<td><%= vehicle_payment.mode_of_payment %></td>
					<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Delete",vehicle_payment_path(vehicle_payment.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
						</tr>
				<% end %>	
		</tbody>
</table>

<h4>Vehicle Payment Details of Servies </h4>

<table border="1">
	<thead>
		<tr>
			<th>Payment Type</th>
			<th>Amount Paid</th>
			<th>Payment Date</th>
			<th>Mode of Payment</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
					<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Service") %> 
					<tr>
					<td> <%= vehicle_payment.amount_type %></td>
					<td><%= vehicle_payment.amount_paid %></td>	
					<td><%= vehicle_payment.payment_date %></td>
					<td><%= vehicle_payment.mode_of_payment %></td>
					<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.vehicle_id) %> |
						<%= link_to "Delete",vehicle_payment_path(vehicle_payment.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
						</tr>
				<% end %>	
		</tbody>
</table>

<hr>

<%#= pie_chart @vehicle.vehicle_payments.group(:amount_type).sum(:amount_paid) %>
<%= column_chart @vehicle.vehicle_payments.group(:amount_type).sum(:amount_paid) %>

<%#= pie_chart({"Football" => 10, "Basketball" => 5}) %>

<h4>Accessories Details</h4>
<table border="1">
	<thead>
		<tr>
			<th>Name Of Accessory</th>
			<th>Cost:</th>
			<th>Actions </th>
			
		</tr>
	</thead>
		<tbody>
			<% for accessory in @vehicle.accessories %> 
				<tr>
					<td><%= accessory.name %></td>
					<td><%= accessory.cost %></td>
					<td><%= link_to "Show",accessory_path(accessory.vehicle_id) %> |
						<%= link_to "Edit",edit_accessory_path(accessory.vehicle_id) %> |
						<%= link_to "Delete",accessory_path(accessory.vehicle_id), method: :delete,data:{confirm: "Are you sure"}%></td>
				</tr>
				<% end %>
		</tbody>
</table>
<hr>
<h3>Add Vehicle Record </h3>


<%= form_for @vehicle_record , html: { multipart: true } do |t|%>

	<% if @vehicle_record.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle_record.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle_record.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>

	<label>Record Type </label><br/>
	<%= t.select :record_type,["RC","Emission","Insurance"],prompt:"select_record"%><br/><br/>

	<label>Expiration Date</label><br/>
	<%= t.date_select :expiration_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
	
	<label>Record Image </label><br/>
	<%= t.file_field :image %><br/>
	
	<%= t.hidden_field :vehicle_id,value: @vehicle.id %>
<br/>
	
	<%= t.submit %><br/>

<% end -%>

<hr>
<h3>Add Vehicle Payment Details </h3>


<%= form_for @vehicle_payment, html: { multipart: true } do |t| %>

	<% if @vehicle_payment.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle_payment.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle_payment.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>
	
	<label>Payment Type </label><br/>
	<%= t.select :amount_type,["Down-payment","EMI","Fuel","Driver salary","Service"],prompt:"select_record"%><br/>

	<label>Amount Paid </label><br/>
	<%= t.text_field :amount_paid %><br/>

	<label>Payment Date</label></br>
	<%= t.date_select :payment_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
	
	<label>Mode of Payment</label><br/>

	<%= t.select :mode_of_payment,["Cash","Card"],prompt:"select_record"%><br/>
	<%= t.hidden_field :vehicle_id,value: @vehicle.id %><br/>

	<label>Payment Image </label><br/>
	<%= t.file_field :image %><br/>

	<%= t.submit %><br/>

<% end -%>
<hr>
<h3>Add Accessory </h3>

<%= form_for Accessory.new do |t| %>
	
	<label>Name of Accessory</label><br/>
	<%= t.text_field :name %><br/>

	<label>Cost </label><br/>
	<%= t.text_field :cost %><br/>

	<label>Model</label></br>
	<%= t.text_field :model %><br/><br/>

	<%= t.hidden_field :vehicle_id,value: @vehicle.id %>
<br/>

	<%= t.submit %><br/>

<% end -%>

<%# link_to "Add Vehicle Record ",new_vehicle_record_path %><br/>

<%# link_to "Add Vehicle Payment Details ",new_vehicle_payment_path %><br/>
<%#link_to "Add Accessory Details",new_accessory_path %><br/>

<!--
<h3> Vehicle Record Details </h3>
<%= link_to @vehicle.vehicle_records,vehicle_records_path(@vehicle) %>

<h3>Total Vehicle Records <%= @vehicle.vehicle_records.count%></h3>

-->
<%= link_to "Back", vehicles_path %>