<h3>Vehicle details</h3>
  <div class="table-responsive">          
  <table class="table" border="1">
	<thead>
		<tr>
			<th>Name:</th>
			<th>Type of the vehicle:</th>
			<th>Registration number:</th>
			<th>Driver name</th>
			<th>Actions </th>
		</tr>
	</thead>
		<tbody>
			<tr>
				<td><%= @vehicle.name %></td>
				<td><%= @vehicle.vehicle_type %></td>
				<td><%= @vehicle.reg_no %></td>
				<td><% for driver in @vehicle.drivers %>
        			<%= driver.name %><br/><% end %></td>
				<td><%= link_to "Edit",edit_vehicle_path(@vehicle.id) %> |
					<%= link_to "Delete",vehicle_path(@vehicle.id), method: :delete,data:{confirm: "Are you sure"}%> |
					<%= link_to "Back", vehicles_path %></td>
			</tr>
		</tbody>	
</table>
</div>

<div class="table-responsive">          
  <table class="table" border="1">
	<thead>
		<tr>
			<th>RC Expiration:</th>
			<th>Rc Image:</th>
			<th>Insurance Expiration:</th>
			<th>Insurance Image:</th>
			<th>Emission Expiration:</th>
			<th>Emission Image:</th>
		</tr>
	</thead>
		<tbody>
			<tr>
				<td><%= @vehicle.rc_expiration_date %></td>
				<td><%= image_tag @vehicle.rc_image.url %></td>
				<td><%= @vehicle.insurance_expiration_date %></td>
				<td><%= image_tag @vehicle.insurance_image.url %></td>
				<td><%= @vehicle.emission_expiration_date %></td>
				<td><%= image_tag @vehicle.emission_image.url %></td>	
			</tr>
		</tbody>	
</table>
</div>



<hr>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Accessories Details</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                   <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Name Of Accessory</th>
								<th>Cost</th>
								<th>Model</th>
								<th>Serial No</th>
								<th>Invoice image</th>
								<th>Actions </th>
								
							</tr>
						</thead>
							<tbody>
								<% for accessory in @vehicle.accessories %> 
									<tr>
										<td><%= accessory.name %></td>
										<td><%= accessory.cost %></td>
										<td><%= accessory.model %></td>
										<td><%= accessory.serial_no %></td>
										<td><%= image_tag accessory.invoice_image.url %></td>
										<td><%= link_to "Show",accessory_path(accessory.id) %>|
											<%= link_to "Edit",edit_accessory_path(accessory.id) %> |
											<%= link_to "Delete",accessory_path(accessory.id), method: :delete,data:{confirm: "Are you sure"}%></td>
									</tr>
									<% end %>
							</tbody>
					</table>
			</div></div>
        </div>
    </div>
 <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Add Accessory </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
				
					<%= form_for Accessory.new , html: { multipart: true } do |t| %>
		
					<label>Name of Accessory</label><br/>
					<%= t.text_field :name %><br/>

					<label>Cost </label><br/>
					<%= t.text_field :cost %><br/>

					<label>Model</label></br>
					<%= t.text_field :model %><br/><br/>
					
					<label>Serial No</label></br>
					<%= t.text_field :serial_no %><br/><br/>
					
					<label>Invoice Image</label></br>
					<%= t.file_field :invoice_image %><br/><br/>

					<%= t.hidden_field :vehicle_id, value: @vehicle.id %><br/>

					<input type="submit" class="btn btn-info" value="Create Accesory">
	
					<% end -%>                    
                </div>
            </div>
    </div>

<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Vehicle Payment Details of EMI</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Payment Type</th>
								<th>Amount Paid</th>
								<th>Payment Date</th>
								<th>Mode of Payment</th>
								<th>Actions </th>
							</tr>
						</thead>
							<tbody>
								<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","EMI") %> 
								<tr>
									<td> <%= vehicle_payment.amount_type %></td>
									<td><%= vehicle_payment.amount_paid %></td>	
									<td><%= vehicle_payment.payment_date %></td>
									<td><%= vehicle_payment.mode_of_payment %></td>
									<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.id) %> |
											<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.id) %> |
											<%= link_to "Delete",vehicle_payment_path(vehicle_payment.id), method: :delete,data:{confirm: "Are you sure"}%></td>
								</tr>
								<% end %>	
							</tbody>
					</table>
</div></div></div></div>
<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Vehicle Payment Details of Down-Payment</a>
                </h4>
            </div>
    <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
                    <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Payment Type</th>
								<th>Amount Paid</th>
								<th>Payment Date</th>
								<th>Mode of Payment</th>
								<th>Actions </th>
							</tr>
						</thead>
							<tbody>
									<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Down-payment") %> 
									<tr>
									<td> <%= vehicle_payment.amount_type %></td>
									<td><%= vehicle_payment.amount_paid %></td>	
									<td><%= vehicle_payment.payment_date %></td>
									<td><%= vehicle_payment.mode_of_payment %></td>
									<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.id) %> |
										<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.id) %> |
										<%= link_to "Delete",vehicle_payment_path(vehicle_payment.id), method: :delete,data:{confirm: "Are you sure"}%></td>
									</tr>
									<% end %>	
							</tbody>
					</table>
	</div></div></div></div>
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Vehicle Payment Details of Fuel</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Payment Type</th>
								<th>Amount Paid</th>
								<th>Payment Date</th>
								<th>Mode of Payment</th>
								<th>Actions </th>
							</tr>
						</thead>
							<tbody>
							<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Fuel") %> 
							<tr>
								<td> <%= vehicle_payment.amount_type %></td>
								<td><%= vehicle_payment.amount_paid %></td>	
								<td><%= vehicle_payment.payment_date %></td>
								<td><%= vehicle_payment.mode_of_payment %></td>
								<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Delete",vehicle_payment_path(vehicle_payment.id), method: :delete,data:{confirm: "Are you sure"}%></td>
							</tr>
							<% end %>	
						</tbody>
					</table>
					<h3>Total VehiclePayments of Fuel <%= @vehicle.vehicle_payments.where("amount_type = ?","Fuel").sum :amount_paid %></h3>

	</div></div></div></div>

	<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Vehicle Payment Details of Service</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Payment Type</th>
								<th>Amount Paid</th>
								<th>Payment Date</th>
								<th>Mode of Payment</th>
								<th>Actions </th>
							</tr>
						</thead>
							<tbody>
								<% for vehicle_payment in @vehicle.vehicle_payments.where("amount_type = ?","Service") %> 
								<tr>
								<td> <%= vehicle_payment.amount_type %></td>
								<td><%= vehicle_payment.amount_paid %></td>	
								<td><%= vehicle_payment.payment_date %></td>
								<td><%= vehicle_payment.mode_of_payment %></td>
								<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Delete",vehicle_payment_path(vehicle_payment.id), method: :delete,data:{confirm: "Are you sure"}%></td>
								</tr>
								<% end %>	
							</tbody>
					</table>
</div></div></div></div>

	<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Vehicle Payment Details </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">          
					  <table class="table" border="1">
						<thead>
							<tr>
								<th>Payment Type</th>
								<th>Amount Paid</th>
								<th>Payment Date</th>
								<th>Mode of Payment</th>
								<th>Actions </th>
							</tr>
						</thead>
							<tbody>
								<% for vehicle_payment in @vehicle.vehicle_payments %> 
								<tr>
								<td> <%= vehicle_payment.amount_type %></td>
								<td><%= vehicle_payment.amount_paid %></td>	
								<td><%= vehicle_payment.payment_date %></td>
								<td><%= vehicle_payment.mode_of_payment %></td>
								<td><%= link_to "Show",vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Edit",edit_vehicle_payment_path(vehicle_payment.id) %> |
									<%= link_to "Delete",vehicle_payment_path(vehicle_payment.id), method: :delete,data:{confirm: "Are you sure"}%></td>
								</tr>
								<% end %>	
							</tbody>
					</table>
</div></div></div></div>

    <div class="panel panel-default">
           <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Add Vehicle Payment Details</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <%= form_for @vehicle_payment, html: { multipart: true } do |t| %>

					<% if @vehicle_payment.errors.any? %>
						<h3>These errors prohibited this <%= @vehicle_payment.class %> from being saved</h3>
						<ul>
						<% for msg in @vehicle_payment.errors.full_messages %>
							<li><%= msg %></li>
							<% end -%>
						</ul>
					<% end -%>
					
					<label>Payment Type </label><br/>
					<%= t.select :amount_type,["Down-payment","EMI","Fuel","Service"],prompt:"select_record"%><br/>

					<label>Amount Paid </label><br/>
					<%= t.text_field :amount_paid %><br/>

					<label>Payment Date</label></br>
					<%= t.date_select :payment_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
					
					<label>Mode of Payment</label><br/>

					<%= t.select :mode_of_payment,["Cash","Card"],prompt:"select_record"%><br/>
					
					<%= t.hidden_field :vehicle_id,value: @vehicle.id %><br/>

					<label>Payment Image </label><br/>
					<%= t.file_field :image %><br/>

					<input type="submit" class="btn btn-info" value="Create Vehicle Payment">

				<% end -%>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>      
<%#= pie_chart @vehicle.vehicle_payments.group(:amount_type).sum(:amount_paid) %>
<%#= column_chart @vehicle.vehicle_payments.group(:amount_type).sum(:amount_paid) %>

<p>Total Vehicle payments Of this vehicle is <strong>
<%= @vehicle.vehicle_payments.map(&:amount_paid).sum %></strong></p>

<% @vehicle_payment_months.each do |month,vehicle_payment | %>
<%= month.strftime("%B") %>
<%= vehicle_payment.map(&:amount_paid).sum %><br>
<% end -%>