<%= javascript_tag do %>
  function goBack() {
    window.history.back();
}
<% end %>
<%= link_to "Vehicle Details",vehicles_path %>

<h3><%= @accessory.name%></h3>

Name of The Accessory: <%= @accessory.name %><br/>
Cost : <%= @accessory.cost %><br/>
Model : <%= @accessory.model %><br/>
Serial no: <%= @accessory.serial_no %><br/>
Invoice image: <%= image_tag @accessory.invoice_image.url %><br/>
<br/>
<br/>
<a href="#" onclick="goBack()">Back</a>