<!DOCTYPE html>
<html>
<head>
  <title>TransportationApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= notice %>
 <hr>
  <pre><strong>                                              P M International Tours and Travells</strong></pre>
 <hr>
 
  
  <% if user_signed_in? %>
    welcome <%= current_user.email %> ||
    <%= link_to "Sign Out" , destroy_user_session_path, method: :delete %> ||
    <%= link_to "Account Settings" , edit_user_registration_path %> ||
  <% end %> </br>
  
  <%= link_to "Add New Vehicle", new_vehicle_path %>||<%= link_to "Add New Driver" , new_driver_path %>|| 
  <%= link_to "Add New Client " , new_client_path %>||<%= link_to "Add New Route " , new_route_path %>||
  <%= link_to "Add New Vehicle Record", new_vehicle_record_path %>||<%= link_to "Add New Vehicle Payment", new_vehicle_payment_path %>||
  
  
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>
</body>
</html>
